body {
    color: aliceblue;
    background-image: url("download.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
p {
    color: red;
    background-image: url("360_F_164991966_MfVeEvVkMOe3ICaGKiYJp8BVFUX1Ogrb.jpg");
}
